doctype html
html
  head
    title Greek Mythology

    meta(
      name="description"
      content="An incomplete geneology made with GraphViz"
    )

    link(
      rel="stylesheet"
      href="css/stylesheet.css"
    )

    meta(
      charset="UTF-8"
    )

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    )

  body
    include ../README.html

